@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i');

/* FacileThings Blog Newsletter fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;700&family=Open+Sans&display=swap');

/*
 * :not(:has(...)) below are usually exceptions
 *
 * - [style="background-color:#f8f8f8"] - Starnet payment confirmation
 *
 * */

/* Keep the reply form growing out of the viewport when content asks for it. */
table.aoP.HM {
    max-width: 800px;
    overflow: visible;
}

/* hide the right side-bar */
[style="width: 56px; min-width: 56px;"] {
    min-width: 0 !important;
    overflow: hidden;
    width: 0 !important;
}

/* message list */
.aeF {
    min-height: 100vh !important;
}


/* Message body */
.a3s.aiL:not(:has([style="background-color:#f8f8f8"])) {
    max-width: 44em;
    overflow: visible;
}

/* Message details */

/* [data-message-id] img,  */
[data-message-id]:not(:has([style="background-color:#f8f8f8"])) table,
.a3s.aXjCH  {
    max-width: 552px !important;
    height: auto; /* This is to keep it proportional to the width. */
    overflow: visible !important;
}

/* Abraham-Hicks newsletter */
div[style*="background-color:#69c7c5"],
div[style*="background-color:#69c7c5"] table,
div[style*="background-color:#69c7c5"] td,
div[style*="background-color:#69c7c5"] hr,
div[style*="background-color:#69c7c5"] center {
    padding: 0 !important;
    text-align: left !important;
    border-width: 0 !important;
    background-color: transparent !important;
}

div[style*="background-color:#69c7c5"] *[style*="font-family:"] {
    font-family: Alegreya !important;
    font-size: 14px !important;
}

div[style*="background-color:#69c7c5"] [id$="templatePreheader"],
div[style*="background-color:#69c7c5"] [id$="templateHeader"],
div[style*="background-color:#69c7c5"] [id$="templateFooter"],
div[style*="background-color:#69c7c5"] [class*="bodyContainer"]>table:not(:first-of-type) {
    display: none;
}

