@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i');

/* FacileThings Blog Newsletter fonts */
@font-face {
    font-family: 'fira-sans-light';
    src: url(//cdn-ft-site.nyc3.digitaloceanspaces.com/assets/FiraSans-Light-1689854b3fe976d4500dd077bcdc691054dc5be8dc403c7f8e1808571d32017f.eot);
    src: url(//cdn-ft-site.nyc3.digitaloceanspaces.com/assets/FiraSans-Light-1689854b3fe976d4500dd077bcdc691054dc5be8dc403c7f8e1808571d32017f.eot?#iefix) format("embedded-opentype"),url(//cdn-ft-site.nyc3.digitaloceanspaces.com/assets/FiraSans-Light-0c94b1fc2f928db0ccac9160103e94b42e5b7066f716a0946ed51ca5e53ecc01.woff) format("woff"),url(//cdn-ft-site.nyc3.digitaloceanspaces.com/assets/FiraSans-Light-089f6e5084fff6f71580ffebb46db00bf2932d2edbcb36eec762e333eeccf1ad.ttf) format("truetype"),url(//cdn-ft-site.nyc3.digitaloceanspaces.com/assets/FiraSans-Light-15b109883ef7bf826cb0a820fffa9f16f85cab64233380a9359d17f9cc924b65.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: 'fira-sans-book';
    src: url(//cdn-ft-site.nyc3.digitaloceanspaces.com/assets/FiraSans-Book-83c59c4c3cfd91ba7c4110086e9c02fb3c9ca4bcc433b3e3a1a1ed7d9df8071d.eot);
    src: url(//cdn-ft-site.nyc3.digitaloceanspaces.com/assets/FiraSans-Book-83c59c4c3cfd91ba7c4110086e9c02fb3c9ca4bcc433b3e3a1a1ed7d9df8071d.eot?#iefix) format("embedded-opentype"),url(//cdn-ft-site.nyc3.digitaloceanspaces.com/assets/FiraSans-Book-955ea458ce028c5d3a41bea4fbb5dad2dd0f01a32843856bc6bf6d1245cc5ea8.woff) format("woff"),url(//cdn-ft-site.nyc3.digitaloceanspaces.com/assets/FiraSans-Book-1586e23dca3d83f79ffde7742c9f41c396abdcfea712da7a5a8e00a3dd19ded4.ttf) format("truetype"),url(//cdn-ft-site.nyc3.digitaloceanspaces.com/assets/FiraSans-Book-f7a6598825270c36d98214a45fcfd62dda808dedd6ba856cce2184164c9a56e8.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: 'fira-sans-medium';
    src: url(//cdn-ft-site.nyc3.digitaloceanspaces.com/assets/FiraSans-Medium-3ef8f2f715d31d1b233a7d9fdfa643c146c1ba9fbc31f0fa52379b1ec344ca7b.eot);
    src: url(//cdn-ft-site.nyc3.digitaloceanspaces.com/assets/FiraSans-Medium-3ef8f2f715d31d1b233a7d9fdfa643c146c1ba9fbc31f0fa52379b1ec344ca7b.eot?#iefix) format("embedded-opentype"),url(//cdn-ft-site.nyc3.digitaloceanspaces.com/assets/FiraSans-Medium-02b24039635a97ed44a9df0b754482228cb7b2fb2e14bde378781627728bf2e3.woff) format("woff"),url(//cdn-ft-site.nyc3.digitaloceanspaces.com/assets/FiraSans-Medium-b3133a3c0ac07f1f16105c8d6d2e604120c3b19d978b4108810a0866cdc43725.ttf) format("truetype"),url(//cdn-ft-site.nyc3.digitaloceanspaces.com/assets/FiraSans-Medium-ba80dd22d50725221ec211b11b9ee10df055f8f4f2d7d9d8eb94e95fd92ca137.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback
}


/*
 * :not(:has(...)) below are usually exceptions
 *
 * - [style="background-color:#f8f8f8"] - Starnet payment confirmation
 *
 * */

/* Keep the reply form growing out of the viewport when content asks for it. */
table.aoP.HM {
    max-width: 800px;
    overflow: visible;
}

/* hide the right side-bar */
[style="width: 56px; min-width: 56px;"] {
    min-width: 0 !important;
    overflow: hidden;
    width: 0 !important;
}

/* message list */
.aeF {
    min-height: 100vh !important;
}


/* Message body */
.a3s.aiL:not(:has([style="background-color:#f8f8f8"])) {
    max-width: 44em;
    overflow: visible;
}

/* Message details */

/* [data-message-id] img,  */
[data-message-id]:not(:has([style="background-color:#f8f8f8"])) table,
.a3s.aXjCH  {
    max-width: 552px !important;
    height: auto; /* This is to keep it proportional to the width. */
    overflow: visible !important;
}

/* Abraham-Hicks newsletter */
div[style*="background-color:#69c7c5"],
div[style*="background-color:#69c7c5"] table,
div[style*="background-color:#69c7c5"] td,
div[style*="background-color:#69c7c5"] hr,
div[style*="background-color:#69c7c5"] center {
    padding: 0 !important;
    text-align: left !important;
    border-width: 0 !important;
    background-color: transparent !important;
}

div[style*="background-color:#69c7c5"] *[style*="font-family:"] {
    font-family: Alegreya !important;
    font-size: 14px !important;
}

div[style*="background-color:#69c7c5"] [id$="templatePreheader"],
div[style*="background-color:#69c7c5"] [id$="templateHeader"],
div[style*="background-color:#69c7c5"] [id$="templateFooter"],
div[style*="background-color:#69c7c5"] [class*="bodyContainer"]>table:not(:first-of-type) {
    display: none;
}

