@font-face {
    font-family: 'Bookerly';
    src: url(https://gurdiga.com/assets/bookerly/Bookerly-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Bookerly';
    font-weight: bold;
    src: url(https://gurdiga.com/assets/bookerly/Bookerly-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Bookerly';
    font-style: italic;
    src: url(https://gurdiga.com/assets/bookerly/Bookerly-RegularItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Bookerly';
    font-weight: bold;
    font-style: italic;
    src: url(https://gurdiga.com/assets/bookerly/Bookerly-BoldItalic.ttf) format('truetype');
}

#app a.contentLink {
    color: #4baddf !important;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #1f1f1e !important;
    }
    
    ::selection {
        background-color: #8a764a !important;
        color: white;
    }
    
    #app .header {
        background: #1d1e1f !important;
    }

    body,
    #app .project .bullet {
        color: #b9b9b6 !important;
    }

    #app .project.open .children._8uzpmq {
        border-left-color: #42484b;
    }
    
    #app a.contentLink[href^="https://workflowy.com"] {
        color: #76a9fa !important;
    }
}

@media (prefers-color-scheme: light) {
    #app .project.open .children._1wbge1a {
        border-left-color: #eceef0;
    }

    #app a.contentLink[href^="https://workflowy.com"] {
        color: #1c64f2 !important;
    }
}

#app {
    font-family: Bookerly, Merriweather !important;
    font-size: 15px;
}

#app .page {
    margin-left: auto;
    margin-right: auto;
    background: transparent;
}

#app .page:not(:has(>.board)) {
    width: 35em !important;
}

#app .page:has(>.board) {
    margin-top: 0 !important;
}

#app .project {
    margin-bottom: 4px;
}

#app .project .bullet {
    top: 6px;
}

#app .project:not(.selected) .name .content {
    min-height: 20px;
    line-height: 20px;
}

#app .project.checkmark a.bullet {
    opacity: 0;
}

#app .board .boardColumn {
    flex-basis: 420px;
}

#app .board .boardColumn {
    flex-basis: 420px;
}

#app .header .breadcrumbs>a {
    text-overflow: ellipsis;
}

#app .header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

#app .bullet+.prefix:has(svg) {
    margin-left: -1.4em;
}
