@font-face {
    font-family: 'Bookerly';
    src: url(https://gurdiga.com/assets/bookerly/Bookerly-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Bookerly';
    font-weight: bold;
    src: url(https://gurdiga.com/assets/bookerly/Bookerly-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Bookerly';
    font-style: italic;
    src: url(https://gurdiga.com/assets/bookerly/Bookerly-RegularItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Bookerly';
    font-weight: bold;
    font-style: italic;
    src: url(https://gurdiga.com/assets/bookerly/Bookerly-BoldItalic.ttf) format('truetype');
}

[stylish-theme="dark"] {
    background-color: #35363a !important;
}

[stylish-theme="dark"] #app .header {
    background-color: #35363a !important;
}

[stylish-theme="dark"],
[stylish-theme="dark"] #app .header,
[stylish-theme="dark"] #app .bullet {
    color: #ccc;
}

#app {
    font-family: Bookerly, Merriweather !important;
    font-size: 16px;
}

#app .page {
    margin-left: auto;
    margin-right: auto;
    background: transparent;
}

#app .page:not(:has(>.board)) {
    width: 35em !important;
}

#app .page:has(>.board) {
    margin-top: 0 !important;
}

#app .project {
    margin-bottom: 4px;
}

#app .project .bullet {
    top: 6px;
}

#app .project:not(.selected) .name .content {
    min-height: 20px;
    line-height: 20px;
}

#app .project.checkmark a.bullet {
    opacity: 0;
}

#app .board .boardColumn {
    flex-basis: 420px;
}

#app .board .boardColumn {
    flex-basis: 420px;
}

#app .header .breadcrumbs>a {
    text-overflow: ellipsis;
}

#app .header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}
